extends base.pug

block scripts
  script(src='/static/script.js')

block style
    style
      include ../static/style.css 
      include ../static/aboutstyle.css 
 
block content 
   h1.heading About Us

   div.ab1
     h1 Your Dance Academy
     h3 One Dance Academy For All

   div.ab2 
     p "Uniting Peoples of Common Interest"